<<<<<<< HEAD
$d-violet: hsl(256, 26%, 20%);
$g-blue: hsl(216, 30%, 68%);

$vd-violet: hsl(270, 9%, 17%);
$dg-violet: hsl(273, 4%, 51%);
=======
$d-violet: hsl(256, 26%, 20%);
$g-blue: hsl(216, 30%, 68%);

$vd-violet: hsl(270, 9%, 17%);
$dg-violet: hsl(273, 4%, 51%);
>>>>>>> 88c1549c06c6098e1b2357673154ae102e9ab37f
$vl-gray: hsl(0, 0%, 98%);