<<<<<<< HEAD
@use "variables";
@use "extensions";

// HTML ELEMENT PRESETS
html {
    box-sizing: border-box;
    font-size: 100%;
}

body {
    font-family: 'Karla', sans-serif;
    margin: 0 auto;
    padding: 0;
}

a {
    outline: none;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    font-family: 'DM Serif Display', serif;
    margin: 0;
    ;
}

p {
    line-height: 1.5rem;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

// HTML ELEMENT CUSTOMED

h1,
h2 {
    font-size: 4rem;
}

h2 {
    color: variables.$vd-violet;
    font-size: clamp(2.875rem, 4.9vw, 4rem);
    line-height: 4rem;
    z-index: 10;
}

h3 {
    color: variables.$vl-gray;
    font-size: clamp(2.25rem, 4.9vw, 3rem);
    z-index: 10;
}

h4 {
    color: variables.$vd-violet;
    font-size: 1.75rem;
}

// PRIMARY
.flex {
    display: flex;
}

.navbar {

    >ul {
        gap: 0 1.6875rem;
    }
}

.header {
    background-color: #FFFFFF;
    position: relative;
    z-index: 10;

    &__wrapper {
        @extend %overall_wrapper;
        align-items: center;
        display: flex;
        height: 5rem;
        justify-content: space-between;
        padding: 0 10.25rem 0;
        position: relative;
    }

    a,
    input {

        &:focus-visible {
            outline: 3px dashed #000000;
            outline-offset: 3px;
        }
    }
}

.hero {
    background-color: variables.$d-violet;
    margin-bottom: clamp(10rem, 17vw, 19.0625rem);
    position: relative;

    &__wrapper {
        @extend %overall_wrapper;
        height: 37.5rem;
        padding: 6.5625rem 10.25rem 0;
    }

    &::before {
        content: url("../images/bg-pattern-intro-right-desktop.svg");
        position: absolute;
        transform: translateY(-14%);
        top: 0;
        right: 0;
    }

    &::after {
        content: url("../images/bg-pattern-intro-left-desktop.svg");
        bottom: 0;
        left: 0;
        position: absolute;
        transform: translateY(60%);
    }

    &--image {
        height: clamp(27.9365rem, 45.1vw, 40.625rem);
        z-index: 10;
    }

    &--image-mbl {
        display: none;
        max-width: 100%;
    }
}

.overview {
    margin-bottom: 10.125rem;

    &__wrapper {
        @extend %overall_wrapper;
        gap: 5.5625rem 0;
        padding: 3.75rem 10.25rem 0;

        &::before {
            left: 10.25rem;
        }
    }

    &__icon {
        margin-bottom: 0.75rem;
    }
}

.cta {
    background-color: variables.$d-violet;
    margin-bottom: 9.375rem;

    &__wrapper {
        @extend %overall_wrapper;
        padding: 0 10.25rem;
    }

    &__holder {
        align-items: center;
        height: 15.625rem;
        padding: 0 5rem;
        position: relative;

        &::before {
            content: url("../images/bg-pattern-how-we-work-desktop.svg");
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}

.footer {
    background: url("../images/bg-pattern-footer-desktop.svg")no-repeat left top;
    background-color: variables.$vl-gray;
    font-size: 0.875rem;

    &__wrapper {
        @extend %overall_wrapper;
        height: 24.625rem;
        padding: 4.0625rem 10.25rem 0;
    }

    &__block {

        &:nth-of-type(2) {
            width: 80%;
        }
    }

    .section--main {
        color: variables.$dg-violet;
        font-weight: 700;
    }

    &__link {
        color: variables.$d-violet;
        font-weight: 700;
        text-transform: uppercase;
        position: relative;

        &:hover::after {
            width: 100%;
        }

        &::after {
            content: "";
            background-color: variables.$d-violet;
            bottom: -10%;
            height: 1px;
            left: 0;
            position: absolute;
            transform-origin: center;
            transition: width 0.3s ease;
            width: 0;
        }
    }

    a {

        &:focus-visible {
            outline: 3px dashed #000000;
            outline-offset: 3px;
        }
    }
}

// CUSTOM
#navbox {
    display: none;
}

#navtoggle {
    background: url("../images/icon-hamburger.svg")no-repeat center center;
    cursor: pointer;
    display: none;
    height: 1.90625rem;
    width: 1.90625rem;
}

.navlink {
    color: variables.$dg-violet;
    font-size: 0.875rem;
    font-family: 'Karla', sans-serif;
    transition: color 0.3s ease,
        text-shadow 0.3s ease;

    &:hover {
        color: variables.$d-violet;
        text-shadow: 0px 0 1px variables.$d-violet
    }
}

.heading-title {
    color: variables.$vl-gray;
    font-size: clamp(2.875rem, 4.9vw, 4rem);
    font-family: 'DM Serif Display', serif;
    line-height: 4rem;
    width: 80%;
    z-index: 10;
}

.btn.btn--black {
    @extend %btn--black;
}

.btn.btn--white {
    @extend %btn--white;
}

.gutter {
    @extend %gutter;

    &--flex {
        flex: 0 1 100%;
    }

    &--main {
        gap: 0 2rem;
    }
}

.section--main {
    @extend %section--main;
    align-items: flex-start;
}

.text-gray {
    color: #D5D1DC;
    z-index: 10;
}

.text-l-gray {
    color: variables.$dg-violet
}

.text-white {
    color: variables.$vl-gray
}

.line-white {
    @extend %line;
    z-index: 10;

    &::before {
        background-color: variables.$vl-gray;
    }
}

.line-black {
    @extend %line;
    z-index: 10;

    &::before {
        background-color: rgba(10, 10, 10, 0.3);
    }
}

.block {
    align-items: center;
    margin-bottom: 4.75rem;
    position: relative;

    &::before {
        content: "";
        background-color: rgba(50, 50, 50, 0.15);
        height: 1px;
        bottom: -1.875rem;
        position: absolute;
        width: 100%;
    }

    &__social {
        gap: 0 1rem;
    }
}

.footer--s-link {

    >path {
        transition: fill 0.3s ease;
    }

    &:hover>path {
        fill: variables.$d-violet;
    }
}

// MEDIAS
@media (max-width: 62.5em) {

    .header {
        z-index: 20;

        &__wrapper {
            padding: 0 1.5rem;
        }
    }

    .navbar {
        background-color: variables.$vd-violet;
        left: 0;
        max-height: 0;
        overflow: hidden;
        position: absolute;
        top: 100%;
        transition: max-height 0.5s ease,
            visibility .5s ease;
        visibility: hidden;
        width: 100%;

        >ul {
            flex-direction: column;
            gap: 2.375rem 0;
            height: 36.75rem;
            padding: 2.8125rem 1.5rem 0;
            text-align: center;
        }

        &::after {
            content: "";
            background: url("../images/bg-pattern-mobile-nav.svg") no-repeat center bottom;
            background-size: 100% 13.625rem;
            height: 16.625rem;
            width: 100%;
            bottom: 0;
            position: absolute;
        }
    }

    .hero {

        &__wrapper {
            padding: 6.5625rem 1.5rem 0;
        }
    }

    .overview {

        &__wrapper {
            padding: 3.75rem 1.5rem 0;

            &::before {
                left: 1.5rem;
            }
        }

    }

    .cta {

        &__wrapper {
            padding: 0 1.5rem;
        }
    }

    .footer {

        &__wrapper {
            padding: 4.0625rem 1.5rem 0;
        }
    }

    // CUSTOM
    #navbox {
        display: block;
        left: -10000px;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
        position: absolute;

        &:focus {

            +label {
                outline: 3px dashed black;
                outline-offset: 2px;
            }
        }

        &:checked~.navbar {
            max-height: 50rem;
            visibility: visible;
        }

        &:checked~#navtoggle {
            background-image: url("../images/icon-close.svg");
        }
    }

    #navtoggle {
        display: block;

    }

    .navlink {
        color: #FFFFFF;
        font-weight: 700;
        font-size: 1.25rem;

        &:hover {
            color: #FFFFFF;
        }
    }

    .btn.btn--black {
        border: 1px solid #FFFFFF;
        color: #FFFFFF;
        display: block;
        width: 100%;
    }

}

@media (max-width: 46.875em) {

    // HTML ELEMENT
    .footer {
        background: url("../images/bg-pattern-footer-mobile.svg") no-repeat center top;
        background-size: contain;
        

        &__wrapper {
            height: auto;
        }

        &__block {

            &:nth-of-type(2) {
                align-items: center;
                flex-direction: column;
                width: 100%;
            }
        }

        .section--main {
            align-items: center;
        }

        .section--main {
            margin-bottom: 2.5rem;
        }

    }

    // PRIMARY
    .hero {
        margin-bottom: 6.75rem;

        &__wrapper {
            flex-direction: column-reverse;
            height: auto;
            padding: 0;
        }


        &::before,
        &::after {
            display: none;
        }

        &__text {
            align-items: center;
            padding: 5.75rem 1.5rem;
            position: relative;
            text-align: center;

            &::before {
                content: url("../images/bg-pattern-intro-left-mobile.svg");
                position: absolute;
            }

            &::after {
                content: url("../images/bg-pattern-intro-right-mobile.svg");
                bottom: -11.5rem;
                position: absolute;
                right: 0;
            }
        }

        &--image {
            display: none;
        }

        &--image-mbl {
            display: block;
            height: 28.125rem;
            object-fit: cover;
        }
    }

    .overview {
        text-align: center;

        .gutter {
            flex-direction: column;
            gap: 3.75rem 0;
        }

        .section--main {
            align-items: center;
        }
    }

    .cta {
        text-align: center;

        &__wrapper {
            padding: 0;
        }

        &__holder {
            flex-direction: column;
            gap: 1.5rem 0;
            height: 21.5rem;
            justify-content: center;
            overflow: hidden;
            padding: 0 2.5rem;

            &::before {
                content: url("../images/bg-pattern-how-we-work-mobile.svg");
            }
        }
    }

    // CUSTOM
    .line-white {

        &::before {
            background-color: transparent;
        }
    }

    .line-black {
        align-items: center;

        &::before {
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .block {
        flex-direction: column;
        gap: 1.5rem 0;
    }
=======
@use "variables";
@use "extensions";

// HTML ELEMENT PRESETS
html {
    box-sizing: border-box;
    font-size: 100%;
}

body {
    font-family: 'Karla', sans-serif;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    font-family: 'DM Serif Display', serif;
    margin: 0;
    ;
}

p {
    line-height: 1.5rem;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

// HTML ELEMENT CUSTOMED
header {
    align-items: center;
    background-color: #FFFFFF;
    display: flex;
    height: 5rem;
    justify-content: space-between;
    padding: 0 10.25rem 0;
    position: relative;
    z-index: 10;
}

h1,
h2 {
    font-size: 4rem;
}

h2 {
    color: variables.$vd-violet;
    font-size: clamp(2.875rem, 4.9vw, 4rem);
    line-height: 4rem;
    z-index: 10;
}

h3 {
    color: variables.$vl-gray;
    font-size: clamp(2.25rem, 4.9vw, 3rem);
    z-index: 10;
}

h4 {
    color: variables.$vd-violet;
    font-size: 1.75rem;
}

footer {
    background: url("../images/bg-pattern-footer-desktop.svg")no-repeat left top;
    background-color: variables.$vl-gray;
    font-size: 0.875rem;
    height: 24.625rem;
    padding: 4.0625rem 10.25rem 0;
    position: relative;

    >.gutter:nth-of-type(2) {
        width: 80%;
    }

    .section--main {
        color: variables.$dg-violet;
        font-weight: 700;
    }
}

// PRIMARY
.flex {
    display: flex;
}

.navbar>ul {
    gap: 0 1.6875rem;
}

.hero {
    background-color: variables.$d-violet;
    height: 37.5rem;
    margin-bottom: clamp(10rem, 17vw, 19.0625rem);
    padding: 6.5625rem 10.25rem 0;
    position: relative;

    &::before {
        content: url("../images/bg-pattern-intro-right-desktop.svg");
        position: absolute;
        transform: translateY(-14%);
        top: 0;
        right: 0;
    }

    &::after {
        content: url("../images/bg-pattern-intro-left-desktop.svg");
        bottom: 0;
        left: 0;
        position: absolute;
        transform: translateY(60%);
    }

    &--image {
        height: clamp(27.9365rem, 45.1vw, 40.625rem);
        z-index: 10;
    }

    &--image-mbl {
        display: none;
    }
}

.overview {
    margin-bottom: 10.125rem;
    padding: 3.75rem 10.25rem 0;

    >.section--main {
        gap: 5.5625rem 0;
    }

    &__icon {
        margin-bottom: 0.75rem;
    }
}

.cta {
    margin-bottom: 9.375rem;
    padding: 0 10.25rem;

    &__holder {
        align-items: center;
        background-color: variables.$d-violet;
        height: 15.625rem;
        padding: 0 5rem;
        position: relative;

        &::before {
            content: url("../images/bg-pattern-how-we-work-desktop.svg");
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}

// CUSTOM
#navbox {
    display: none;
}

#navtoggle {
    background: url("../images/icon-hamburger.svg")no-repeat center center;
    cursor: pointer;
    display: none;
    height: 1.90625rem;
    width: 1.90625rem;
}

.navlink {
    color: variables.$dg-violet;
    font-size: 0.875rem;
    font-family: 'Karla', sans-serif;
    transition: color 0.3s ease,
        text-shadow 0.3s ease;

    &:hover {
        color: variables.$d-violet;
        text-shadow: 0px 0 1px variables.$d-violet
    }
}

.heading-title {
    color: variables.$vl-gray;
    font-size: clamp(2.875rem, 4.9vw, 4rem);
    font-family: 'DM Serif Display', serif;
    line-height: 4rem;
    z-index: 10;
}

.btn.btn--black {
    @extend %btn--black;
}

.btn.btn--white {
    @extend %btn--white;
}

.gutter {
    @extend %gutter;

    &--flex {
        flex: 0 1 100%;
    }

    &--main {
        gap: 0 2rem;
    }
}

.section--main {
    @extend %section--main;
    align-items: flex-start;
}

.text-gray {
    color: #D5D1DC;
    z-index: 10;
}

.text-l-gray {
    color: variables.$dg-violet
}

.text-white {
    color: variables.$vl-gray
}

.line-white {
    @extend %line;
    z-index: 10;

    &::before {
        background-color: variables.$vl-gray;
    }
}

.line-black {
    @extend %line;
    z-index: 10;

    &::before {
        background-color: rgba(10, 10, 10, 0.3);
    }
}

.block {
    align-items: center;
    margin-bottom: 4.75rem;
    position: relative;

    &::before {
        content: "";
        background-color: rgba(50, 50, 50, 0.15);
        height: 1px;
        bottom: -1.875rem;
        position: absolute;
        width: 100%;
    }

    &--social {
        gap: 0 1rem;
    }
}

.footer--s-link {

    >path {
        transition: fill 0.3s ease;
    }

    &:hover>path {
        fill: variables.$d-violet;
    }
}

.footer--link {
    color: variables.$d-violet;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;

    &:hover::after {
        transform: scaleX(1);
    }

    &::after {
        content: "";
        background-color: variables.$d-violet;
        bottom: -10%;
        height: 1px;
        left: 0;
        position: absolute;
        transform-origin: center;
        transition: transform 0.3s ease;
        transform: scaleX(0);
        width: 100%;
    }

}


.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

// MEDIAS
@media (max-width: 62.5em) {
    // HTML ELEMENT

    header {
        align-items: center;
        padding: 0 1.5rem;
        z-index: 20;
    }

    footer {
        padding: 4.0625rem 1.5rem 0;
    }

    // PRIMARY
    .navbar {
        background-color: variables.$vd-violet;
        left: 0;
        max-height: 0;
        overflow: hidden;
        position: absolute;
        top: 100%;
        transition: max-height 0.5s ease;
        width: 100%;

        >ul {
            flex-direction: column;
            gap: 2.375rem 0;
            height: 36.75rem;
            padding: 2.8125rem 1.5rem 0;
            text-align: center;
        }

        &::after {
            content: "";
            background: url("../images/bg-pattern-mobile-nav.svg") no-repeat center bottom;
            background-size: 100% 13.625rem;
            height: 16.625rem;
            width: 100%;
            bottom: 0;
            position: absolute;
        }
    }

    .hero {
        padding: 6.5625rem 1.5rem 0;
    }

    .overview {
        padding: 3.75rem 1.5rem 0;
    }

    .cta {
        padding: 0 1.5rem;
    }

    // CUSTOM
    #navbox {

        &:checked~.navbar {
            max-height: 50rem;
        }

        &:checked~#navtoggle {
            background-image: url("../images/icon-close.svg");
        }
    }


    #navtoggle {
        display: block;
    }

    .navlink {
        color: #FFFFFF;
        font-weight: 700;
        font-size: 1.25rem;

        &:hover {
            color: #FFFFFF;
        }
    }

    .btn.btn--black {
        border: 1px solid #FFFFFF;
        color: #FFFFFF;
        display: block;
        width: 100%;
    }

}

@media (max-width: 46.875em) {

    // HTML ELEMENT
    h1 br {
        display: none;
    }

    footer {
        background: url("../images/bg-pattern-footer-mobile.svg") no-repeat center top;
        background-size: contain;
        height: auto;

        >.gutter:nth-of-type(2) {
            align-items: center;
            flex-direction: column;
            width: 100%;
        }

        .section--main {
            align-items: center;
        }

        .section--main {
            margin-bottom: 2.5rem;
        }

    }

    // PRIMARY
    .hero {
        flex-direction: column-reverse;
        height: auto;
        margin-bottom: 6.75rem;
        padding: 0;

        &::before,
        &::after {
            display: none;
        }

        >article {
            align-items: center;
            padding: 5.75rem 1.5rem;
            position: relative;
            text-align: center;

            &::before {
                content: url("../images/bg-pattern-intro-left-mobile.svg");
                position: absolute;
            }

            &::after {
                content: url("../images/bg-pattern-intro-right-mobile.svg");
                bottom: -11.5rem;
                position: absolute;
                right: 0;
            }
        }

        &--image {
            display: none;
        }

        &--image-mbl {
            display: block;
            height: 28.125rem;
        }
    }

    .overview {
        text-align: center;

        .gutter {
            flex-direction: column;
            gap: 3.75rem 0;
        }

        .section--main {
            align-items: center;
        }
    }

    .cta {
        text-align: center;

        &__holder {
            flex-direction: column;
            gap: 1.5rem 0;
            height: 21.5rem;
            justify-content: center;
            overflow: hidden;
            padding: 0 2.5rem;

            &::before {
                content: url("../images/bg-pattern-how-we-work-mobile.svg");
            }
        }
    }

    // CUSTOM
    .line-white {

        &::before {
            background-color: transparent;
        }
    }

    .line-black {
        align-items: center;

        &::before {
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .block {
        flex-direction: column;
        gap: 1.5rem 0;


    }
>>>>>>> 88c1549c06c6098e1b2357673154ae102e9ab37f
}